@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  @apply antialiased;
  font-size: 18px;
  text-rendering: geometricPrecision;

  @screen sm {
    font-size: 18px;
  }

  @screen md {
    font-size: 18px;
  }

  @screen lg {
    font-size: 20px;
  }

  @screen xl {
    font-size: 24px;
  }
}